img {
  width: 100%;
  height: 100%;
}

.text-white {
  color: white;
}

.poster-img {
  border-radius: 5px;
}

.row {
  height: 200px;
}

.col-sm-2 {
  text-align: center;
}

.row1 {
  margin-bottom: 3em;
}