.search {
  width: 100%;
  height: 3em;
  border-radius: 8px;
}

.title {
      margin-top: 15%;
}

.navbar {
  box-shadow: 0 14px 27px #16181e;
}

.navbar-toggler-icon {
  color: #8e95a5!important;
}

.nav-link {
  color: #8e95a5!important;
}

.btn {
  background: #F35154!important;
  color: white!important;
}

body {
  background-color: #1e2129;
}

.carousel-caption {
  left: 10%;
  text-align: left;
  float: left;
  position: absolute;
  top: 300px;
}

.caption-background {
    position: absolute;
    top: 0;
    height: 539px;
    background: linear-gradient(rgba(31,34,41,.1), #1f2229);
}

.caption-footer {
  position: absolute;
  height: 500px;
  top: 520px;
    background-color:  #1f2229;
}

.carousel-indicators {
  position: absolute;
  top: 475px;
  left: 14%;
}

.carousel-data {
  height: auto;
  position: absolute;
  width: 100%;
}

img {
  width: 100%;
  height: auto;
}

#controls {
  position: absolute;
    top: 260px;
}

.form-inline {
  float: right;
  padding-top: 0.5em;
}
